body {
    background-color: #f3f4f9;
}

h1 {
    font-family: 'Arial', sans-serif;
}

.note-form {
    width: 300px;
    background-color: #ffffff;
}

.card {
    position: relative;
    padding: 1rem;
}

.note {
    margin: 1rem;
    padding: 1rem;
    text-align: left;
    color: white;
}

.note-title {
    font-weight: bold;
    font-size: 1.2rem;
}

.burn-btn {
    
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#post-note{
    width: 70px;
    margin: 0 auto; /* Horizontally centers the button */
    display: block; /* Makes the element behave like a block to use margin: auto */
}
